<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="/var/www/html/vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
